@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');

body {
  font-family: 'Syne';
}

.cards-section {
  background-color: black;
  min-height: 100vh;
  padding: 40px;
}

.card {
  display: flex;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
  color: white;
  margin: 20px 0;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.card-content h3 {
  font-weight: semibold;
}

.card-content p {
  color: gray;
  font-family: Poppins;
}

.card-img img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

}

.card-content h3 {
  font-size: 20px;
  margin: 0;
}

.card-content p {
  font-size: 14px;
  color: #ccc;
  margin-top: -5px;
}

.card-tags {
  display: flex;
  gap: 8px;

  margin-top: -5px;
}

.tag-btn {
  background-color: transparent;
  color: white;

  border: 1px solid #aaa;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  cursor: default;
  margin-top: -5px;

}

.view-btn {
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.case-study-btn {
  border: 1px;
  padding: 5px 5px;
  border-radius: 100px;
  width: 170px;
  height: 56px;
  margin-top: 45px;
}