@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');


.expertise-section {
    background-color:#010208;
    color: white;
    padding: 60px 40px;
    font-family: 'Syne';

  }
  
  .section-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .expertise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
  
  .expertise-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Syne';
  }
  
  .expertise-card p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.6;
    font-family: 'Poppins';
  }
  
  .highlight {
    font-style: italic;
    color: #ccc;
  }
  