
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');
 .container {
  background-color:#000000;
  color: white;
 
  position: relative;
  overflow: hidden;

  
}

.bg-image {
  background-image: url('./assets/quote.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 150px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15px;
  right: 500px; 
  z-index: 0;
  opacity: 0.6;
  margin-top: 20px;
  
}

.img, .title {
  position: relative;
  z-index: 1;
  display: flex;
}
.img img{
  margin-top: -30px;
}
.title{
  margin-bottom: 50px;
}
.img-content{
  margin-top: -20px;
  margin-left: 20px;
  
}
.img-content p{
  margin-top: -10px;
}

.content {
  position: absolute;
  top: 50px;
  right: 230px; 
  z-index: 1;
  margin-top: -11px;
 
} 
.arrow-container {
  display: flex;
  justify-content:center;
  margin-left: 280px;
}

.arrow-image {
  margin-top: 20px; 
  
}

@media(min-width:835px){
  .content,.bg-image{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
  }
  .arrow-container {
    display: flex;
    justify-content:center;
    margin-left: 280px;
    
    }
    

}